body {
    width: 100%;
    background-color: hsla(127,30%,20%,0.6);
}
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition:ease 0.3s;
}
.container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid hsl(42, 50%, 50%);
    border-right: 5px solid hsl(42, 50%, 30%);
    border-bottom: 5px solid hsl(42, 50%, 30%);
    margin-top: 60px;
    min-height: 450px;
}
div {
    border-radius: 15px;
}
.row {
    margin-bottom: 5px;
}

input[type=text], input[type=password], input[type=number], input[type=date], textarea {
    background-color: hsla(189,30%,90%,0.5);
    border-radius: 15px;
    padding-left: 7px;
}
input[type=button] {
    border-radius: 15px;
}
.btn-primary {
    background-color: hsla(42, 70%, 40%, 1);
}
.btn-primary:hover {
        background-color: hsla(42,70%,50%,1);
    }
.btn-secondary {
    background-color: hsla(159,40%,40%,1);
}
    .btn-secondary:hover {
        background-color: hsla(159,50%,50%,1);
    }
.btn-info {
    background-color: hsla(129,40%,40%,1);
}

    .btn-info:hover {
        background-color: hsla(129,50%,50%,1);
    }
.btn-warning {
    background-color: hsla(12,50%,50%,1);
}
.btn-warning:hover {
    background-color: hsla(12,50%,80%,1);
}
.logEntryHdr {
    background-color: hsla(189,30%,20%,1);
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 0px !important;
    box-shadow: grey 2px 2px 2px;
}
    .logEntryHdr span:nth-of-type(1) {
        color: hsl(42, 68%, 50%);
        cursor: pointer;
        transition: ease 1s;
    }
        .logEntryHdr span:nth-of-type(1):hover {
            color: hsl(42, 100%, 80%);
        }
        .menu {
            padding-top: 5px;
            margin-top: 5px;
            /*border-top: 2px black solid;*/
        }
/*.menuBtn {
    margin-top:5px;
    margin-bottom: 5px;
}*/
.toHide {
    display: none;
    background-color: hsla(42,30%,80%,1);
}

.unHide {
    display: block;
}
.spinner-border {
    margin: 0 auto;
}

#logoff:hover {
    background-color: hsl(42, 50%, 50%);
    cursor: pointer;
    border-radius: 15px;
}
#logoff span {
    color: black;
    font-size:x-small;
}
#HDR {
    font-weight: bold;
    /*text-shadow: 4px 4px 4px hsla(0,0%,100%,0.5);*/
    /*background-color: white;
    color: black;*/
}

#extraBtn:hover {
    background-color: black;
}
#output .row {
    margin-bottom: 2px !important;
    padding-bottom: 2px !important;
}

.outputHDR {
    border-bottom: 1px solid grey;
    font-style: italic;
    font-weight: bold;
}

.outputAttr {
    border-top: 3px solid black;
    padding-bottom: 10px;
}

    .outputAttr span {
        font-weight: bold;
    }

#drain, #drain2 {
    font-size: 24px;
}
#add0 {
    border: 1px solid black;
    background-color: black;
    color: hsla(90,50%,50%,1);
    /*padding-top: 20px;*/
    height: 100px;
    text-align:center;
}
#add0 span:nth-of-type(1) {
    font-size:xx-large;
}
    #add0 span:nth-of-type(2) {
        font-size: xx-small;
    }
    #add0:hover {
        cursor: pointer;
        color: hsla(42,50%,80%,1);
    }
/*span#last_updated  {
 text-align: center;
}*/
#Div1 {
    /*display:none;*/
}
#footer {
    background-color: hsla(189,30%,20%,1);
    color: white;
    font-size: xx-small;
    border-radius: 0;
    padding: 20px 20%;
    margin-top: 20px;
    height: 300px;
}

.entry01 {
    background-color: hsla(189,30%,30%,1);
    color: white;
}
.entry02 {
    background-color: hsla(159,30%,30%,1);
    color: white;
}
.commentsClass {
    width:100%; 
    height: 86pt;
}

.settingField {
    border: 1px solid black;
    border-radius: 10px;
    padding-left:5px;
}

#helpMsg {
    color: hsla(46,80%,20%,1);
    display: none;
    font-size: small;
    line-height: 95%;
  
    /*
    top: 5px;
    left:60px;
    width: 45%;
    position: fixed;
    max-height:100px;
    height: 36px;
    top: 35px;
    width: 250pt;
        */
    background-color: hsla(189,100%,90%,0.9);
    border: 1px solid hsla(46,50%,50%,1);
    border-radius: 15px;
    text-align: left;
    padding: 5px;
    z-index: 200;
}
#tLogMenu .row {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
    #helpMsg span:nth-of-type(1) {
        color: hsla(46,100%,10%,1);
        font-weight: bold;
    }
#helpMsg span:nth-of-type(2) {
    color: hsla(46,100%,0%,1);
    font-weight: bold;
    float:right;
    border: 1px solid black;
    background-color: red;
}

#tLogHdr {
    position: fixed;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    z-index: 100;
}


.menuItem {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0px;
    transition: ease 1s;
}
.btn-menu {
    background-color: hsla(42,10%,50%,0.2);
    color: black;
    font-weight: bold;
    text-transform: lowercase;
    transition: ease 2s;
}

.btn-menu:hover {
    text-transform: uppercase;
    letter-spacing: 0.75em;
    background-color: hsla(189,100%,70%,0.8);
    font-weight: bolder;
    /*
    color: hsla(42,70%,10%,1);
    border: hsla(42,70%,10%,1);
    box-shadow: 2px 3px 6px 9px hsla(42,70%,10%,1);
    */
}

.outputHDR {
    color: grey;
    text-transform: uppercase;
    font-stretch: expanded;
    text-align: center;
    margin-bottom: 20px;
}
.myNews {
    text-align: center;
}

.linkItem {
    line-height: 100%;
    padding-bottom: 20px;
}
.calCol1 {
    cursor: pointer;
    background-color: hsla(42,30%,70%,1);
    border: none;
    line-height:95%;
    margin-bottom: 5px;
    padding: 5px;
    font-stretch: condensed;
    border-radius: 0;
}
.calCol1:hover {
    background-color: hsla(159,30%,80%,1);
    }
.calCol2 {
    cursor: pointer;
    background-color: hsla(159,20%,80%,1);
    border: none;
    line-height: 95%;
    margin-bottom: 5px;
    padding: 5px;
    font-stretch: condensed;
    border-radius: 0;
}

    .calCol2:hover {
        background-color: hsla(159,50%,80%,1);
    }

.stretched-text {
    /*letter-spacing: 2px;*/
        letter-spacing: 0.45em;
    text-transform:uppercase;
    font-size: 80%;
    background-color: hsla(42,50%,10%,1);
    color: white;
    margin-bottom: 1em;
    /*display: inline-block;
    font-size: 32px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    margin-bottom: -50%;*/
        transition: ease 1s;
    
}
    .stretched-text:hover {
    letter-spacing: 0.75em;
        font-weight: bold;
    }

#siteMap li {
    cursor: pointer;
}
    #siteMap li:hover {
        background-color:white; 
        color: hsla(189,60%,10%,1); 
        text-decoration: underline;
    }
